"*":
  "exception-reporting":
    userId: "249c94e3-159c-19fe-a516-fa9af796ab65"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    tabLength: 4
    preferredLineLength: 200
    showInvisibles: true
    fontFamily: "Inconsolata"
    fontSize: 19
  jsformat:
    space_after_anon_function: true
    space_in_paren: true
    format_on_save: false
  core: {}
  "atom-lint": {}
  linter: {}
  autosave:
    enabled: true
  minimap: {}
